<footer class="footer mt-auto py-3 navbar fixed-bottom">
    <div class="background" style="background-image: url({{ url_for('static',
    filename='img/dark-footer2.jpg' ) }});"></div>
    <div class="container d-flex justify-content-around align-items-center zz-top">
        <div></div>
        <div class="d-flex justify-content-center">
            <a href="https://www.instagram.com/alan_swenson/" target="_blank" data-tippy-content="instagram"><i
                    class="fab fa-instagram fa-lg"></i></a>
            <a href="https://www.youtube.com/user/AlanSw3nson/featured" target="_blank" data-tippy-content="youtube"><i
                    class="fab fa-youtube fa-lg"></i></a>
            <a href="mailto:alan@alanswenson.dev" data-tippy-content="email"><i class="far fa-envelope fa-lg"></i></a>
        </div>
        <div class="d-flex flex-row">
            <div>
                ©
                <script>
                    var d = new Date();
                    document.write(d.getFullYear());
                </script>
            </div>
            <a href="https://alanswenson.dev" target="_blank" data-tippy-content="developer website">
                alanswenson.dev</a>

        </div>


    </div>

</footer>