{% extends 'layout.html'%}
{% block content %}
<div class="container-fluid px-0">
    <header class="text-center d-flex flex-row justify-content-around align-items-center">
        <h1 class="py-1">FINIT</h1>
        <div class="nav-icons-container align-items-center d-flex">
            <a href="#"><i class="fas fa-headphones-alt"></i></a>
            <a href="#"><i class="fas fa-film"></i></i></a>
            <a href="#"><i class="fas fa-infinity"></i></a>
        </div>

    </header>

</div>



{% endblock %}