<header class="text-center d-flex flex-row ">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-around align-items-center">
        <h1>{{ ctx.title }}</h1>
        <div class="nav-icons-container align-items-center d-flex">
            <a href="#" data-tippy-content="listen to synthesizers"><i class="fas fa-headphones-alt"></i><span
                    class="visually-hidden">listen</span></a>
            <a href="#" data-tippy-content="watch cables being patched"><i class="fas fa-film"></i><span
                    class="visually-hidden">watch</span></i></a>
            <a href="#" data-tippy-content="take me to the infinite"><i class="fas fa-infinity"></i><span
                    class="visually-hidden">infinity</span></a>
        </div>
    </nav>
</header>