
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap'
/* import the necessary Bootstrap files */
@import "../bootstrap/scss/functions"
@import "../bootstrap/scss/variables"
@import "../bootstrap/scss/mixins/image"

@import vars, listen, nav, footer

// Main Area

body
    background-color: $contrast-color
    font-family: $font-stack

main
    min-height: 1000px
    background-color: #000
    background-position: center
    background-size: cover

// Custom Tippy Theme

.tippy-box[data-theme~='synthwave']
    background: linear-gradient(131deg, rgba(131,58,180,1) 0%, rgba(141,29,253,1) 50%, rgba(241,69,252,1) 100%)

    &[data-placement^='bottom'] > .tippy-arrow::before
        border-bottom-color: #8d1dfd

    &[data-placement^='top'] > .tippy-arrow::before
        border-top-color: #8d1dfd

// Utils
// TODO: if there is more utils added, make a _util.sass file
.zz-top
    z-index: 100

/* finally, import Bootstrap to set the changes! */
@import "../bootstrap/scss/bootstrap"
